@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans&family=Manrope:wght@800&family=Montserrat:wght@500&family=Outfit:wght@400;700&family=Rubik+Vinyl&family=Space+Grotesk:wght@500&family=Unbounded:wght@300&display=swap'); 

/* basic settings */

:root {
    
        /* Primary */

    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);

    /* Neutral */

    --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
  
  }
  
  
  /* css reset */
  
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

/* body styles */
body {
    font-size: 28px;
  }

.main {
    background-color: var(--DarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }


.container {
      background-color: var(--DarkGrayishBlue);
      border-radius: 0.8rem;
      max-width: 25rem;
      max-height: fit-content;
   
  }

.header {
     display: flex;
     justify-content: center;
     color: var(--LightCyan);
     margin: 1rem;
     color: var(--NeonGreen);
     font-size: 0.8rem;
     letter-spacing: 0.1rem;
  }

.content {
     
     margin: 1rem;
     color: var(--LightCyan);

  }

.content p {
    text-align: center;
}

.divider-line {
    margin: 1rem;
}

.pictures {
   object-fit: cover;
   width: 100%;;
}

.dice-button {
    display: flex;
    justify-content: center;
}

.dice-button img {
    object-fit: cover;
    margin-bottom: -1.3rem;
    width: 10%;
    padding: 0.7rem;
    background-color: var(--NeonGreen);
    border-radius: 50%;
}

.dice-button img:hover {
    box-shadow: 0px 0px 20px 3px var(--NeonGreen);
    cursor: pointer; 
}



/* responsive to mobile phone 375px */

@media only screen and (max-width: 375px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
}